<div class="main-container" cdkDropListGroup>
        <div class="scratch-pad">
            <h2>Scratch Pad</h2>
            <div cdkDropList [cdkDropListData]="ScratchPad" class="list" (cdkDropListDropped)="drop($event)">
                <div class="list-card" *ngFor="let item of ScratchPad" cdkDrag>{{ item }}</div>
            </div>
        </div>
        <div class="scheduler">
            <h2>Schedule</h2>
            <div cdkDropList [cdkDropListData]="Schedule" class="list" (cdkDropListDropped)="drop($event)">
                <div class="list-card" *ngFor="let item of Schedule" cdkDrag>{{ item }}</div>
            </div>
        </div>
        <div class="do">
            <h2>Do</h2>
            <div cdkDropList [cdkDropListData]="Do" class="list" (cdkDropListDropped)="drop($event)">
                <div class="list-card" *ngFor="let item of Do" cdkDrag>{{ item }}</div>
            </div>
        </div>
        <div class="delete">
            <h2>Delete</h2>
            <div cdkDropList [cdkDropListData]="Delete" class="list" (cdkDropListDropped)="drop($event)">
                <div class="list-card" *ngFor="let item of Delete" cdkDrag>{{ item }}</div>
            </div>
        </div>
        <div class="delegate">
            <h2>Delegate</h2>
            <div cdkDropList [cdkDropListData]="Delegate" class="list" (cdkDropListDropped)="drop($event)">
                <div class="list-card" *ngFor="let item of Delegate" cdkDrag>{{ item }}</div>
            </div>
        </div>
        <div class="pomodoro">
            <h2>Pomodoro</h2>
        </div>
    </div>
<!-- </div> -->